@model DevFramework.Northwind.MvcWebUI.ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ürünler</title>
</head>
<body>
    <div>
        @foreach (var product in Model.Products)
        {
            @product.ProductName
            <br />
        }
    </div>
</body>
</html>